

  <div class="mainContent">

    <div class="heroBanner col_4">

      <div class="callToAction heroBanner_col_2_reverse">
        <h2 class="heroTitle">Call to Action</h2>
        <p class="heroDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nihil tenetur doloremque porro libero molestiae recusandae ab unde corporis.</p>

        <form class="heroForm">
        <label for="email">Enter your email to get started</label>
        <br>
        <input id="email" type="email" />
        <input class="submitEmail" type="submit" value="Submit" />
        </form>

      </div><!-- end call to action -->

      <div class="heroBanner_col_2">
        <img src="<%= asset_path "laptop_screenshot.png" %>" class="laptopIllustration" alt="laptop"/>
      </div><!-- end laptop illustration -->

    </div><!-- end hero banner -->

    <div class="grid">

      <h1 class="largeHeader">OurAgendaApp</h1>
      <p class="appDescription col_4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nihil tenetur doloremque porro libero molestiae recusandae ab unde corporis nesciunt at odit nemo temporibus numquam delectus. Voluptatum autem beatae ex.</p>

      <div class="appFeature col_2">
      <h3 class="appFeature_header">Users</h2>
      <p class="appFeature_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nihil tenetur doloremque porro libero molestiae recusandae ab unde corporis.</p>
      </div><!-- end appFeature_users -->


      <div class="appFeature col_2">
      <h3 class="appFeature_header">Agenda Items</h2>
      <p class="appFeature_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nihil tenetur doloremque porro libero molestiae recusandae ab unde corporis.</p>
      </div><!-- end appFeatures_agendaItems -->

      <div class="appFeature col_2">
      <h3 class="appFeature_header">Action Items</h2>
      <p class="appFeature_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nihil tenetur doloremque porro libero molestiae recusandae ab unde corporis.</p>
      </div><!-- end appFeatures_actionItems -->

      <div class="appFeature col_2">
      <h3 class="appFeature_header">Meetings</h2>
      <p class="appFeature_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nihil tenetur doloremque porro libero molestiae recusandae ab unde corporis.</p>
      </div><!-- end appFeatures_meetings -->

      <div class="facebook_facepile">
      </div><!-- end facebook_facepile -->

      <div class="twitter_tweets">
      </div><!-- end twitter_tweets -->

    </div><!-- end grid -->
  </div><!-- end mainContent -->

