/*-----------------------------
Dashboard / App styles 
------------------------------*/


/*-----------------------------
Dashboard 
------------------------------*/

.dashboardContainer {
	max-width: 85em;
	width: 96%;
	position: relative;
	margin: 0 auto 2.75em;
	padding: 0.75em 0 2.5em 0;
	background-color: #ffffff;
	border-right: 1px solid $light_gray;
	border-bottom: 1px solid $light_gray;
	border-left: 1px solid $light_gray;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	}

.dashboardContainer:after {
	content: "";
	display: table;
	clear: both;
}

.dashboardContainer .mainContent {
	margin-top: 0.5em;
}

.dashboardContainer nav {
	display: block;
	width: 100%;
	margin: 0 auto;
	.navMenu {
		width: 12em;
		margin: 0 auto;
	}
		@media screen and (min-width: 55em) {
			width: auto;
			margin: 0;
	}
	@media screen and (min-width: 55em) {
		ul {
			float: left;
		}
	}
}

.userDashboardInfo {
	width: 20%;
	min-width: 12em;
	margin: 0 auto;
	p {
		margin: 0.15em 0 0.15em 0;
	}
	@media screen and (min-width: 55em) {
		width: auto;
		float: left;
	}
}

nav .userAvatar_medium {
	margin: 0.35em 0.5em 0 0;
	float: left;
	background: $light_gray;
	width: 45px;
	height: 45px;
}

.cardColumn {
	max-height: 40em;
	// min-width: 18.6875em;
	overflow-y: scroll;
	border-right: 1px solid $black;
	border-left: 1px solid $black;
	border-bottom: 1px solid $black;
}

/* If you want a fade at the bottom of the column to help show that there are hidden cards that can be scrolled to */

// .dashboardContainer .col_1:after { 
//   content: "";
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   height: 80px;
//   background-image: -webkit-linear-gradient(rgba(255, 255,255,0), rgba(255, 255,255,1));
//  	background-image: -moz-linear-gradient(rgba(255, 255,255,0), rgba(255, 255,255,1));
//   background-image: -o-linear-gradient(rgba(255, 255,255,0), rgba(255, 255,255,1));
//   background-image: linear-gradient(rgba(255, 255,255,0), rgba(255, 255,255,1));
// }

.columnHeader {
	// min-width: 17.58824em;
	background: $blue;
	border: 1px solid $black;
	color: #fff;
	font-size: 1.05em;
}

.columnTitle {
	margin: 0 0 0 0.35em;
	display: inline-block;
	padding: 0.37em 0;
}

.addNew {
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	background: $black;
	display: inline-block;
	float: right;
	padding: 0 0.45em;
}

.addNew:active,
.addNew:hover {
	background: #fff;
	color: $black;
}

.card {
	// min-width: 23em;
	background: $lightBeige;
	font-size: 0.8em;
	padding: 0.55em 0.75em;
	height: 6.25em;
	border-bottom: 1px solid $light_gray;
	a {
		padding: 0 0.5em 0 0;
	}
	p {
		margin-bottom: 0;
	}
}

.card:active,
.card:hover {
	background: $beige;
	cursor: pointer;
}

.card .userAvatar_medium {
	margin-right: 1em;
	float: left;
	background: $light_gray;
	width: 45px;
	height: 45px;
}

.cardContent {
	float: left;
}

.cardTitle {
	font-size: 1.25em;
	margin: -0.15em 0 0.15em 0;
}

.facepile {
	display: block;
	width: 100%;
	margin-bottom: 0.15em;
}

.facepile .userAvatar_small {
	margin-right: 0.5em;
	float: left;
	background: $light_gray;
	width: 25px;
	height: 25px;
}

/*-----------------------------
Modals
------------------------------*/

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $blue;
	opacity: 0.5;
}

.modal {
	position: relative;
	overflow: hidden;
	display: block;
	background: #fff;
	border: 7px solid $lightBeige;
	padding: 1em 1em 0;
	margin: 2em auto;
	width: 94%;
	max-width: 32em;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px; 
	-webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.5); 
	.userAvatar_medium {
		display: inline-block;
		float: right;
		background: $light_gray;
		width: 50px;
		height: 50px;
	}
	@media screen and (max-width: 30.6875em) {
		margin: 1em auto;
		padding: 0.5em 0.5em 0;
		border: 2px solid $lightBeige;
	}
}

.modal_title {
	margin: 0.2em 0 0 0;
	display: inline-block;
}

#modal_tabRow {
	margin-top: 2em;
	background: #fff;	
	overflow: hidden;
}

.modal_tab {
	text-align: center;
	border: 2px solid $darkBeige;
	border-bottom: none;
	display: block;
	float: left;
	min-width: 6.25em;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	a {
	text-decoration: none;
	color: $black;
	}
	@media screen and (max-width: 30.6875em) {
		border-bottom: 2px solid $darkBeige;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px; 
		margin: 0.25em;
		display: inline-block;
	}
}

.tabs_4 {
	width: 24.01%;
	margin-right: 1.32%;
}

.tabs_3 {
	width: 32.45333%;
	margin-right: 1.32%;
}

.tabs_2 {
	width: 49.226677%;
	margin-right: 1.32%;
}

.tabs_1 {
	width: 100%;
	margin-right: 0;
}

.tabs_1 a {
	pointer-events: none;
	cursor: default;
}

.modal_tab:last-child {
	margin-right: 0;
}

.modal_tab:active,
.modal_tab:hover {
	color: $black;
}

.selected { 
	position: relative;
	z-index: 2;
	display: block;
	padding-bottom: 2px;
	border-top-left-radius:2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	color: $black; 
	background: $beige;
	@media screen and (max-width: 30.6875em) {
		padding-bottom: 0;
	}
}

.modal_tabContainer {
	position: relative;
	z-index: 1;
	clear: both;
	border: 2px solid $darkBeige;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-top: -2px;
	margin-bottom: 0.25em;
	@media screen and (max-width: 30.6875em) {
	margin-top: 0.35em;
	}
} 


.modal_tabContent {
	height: 17em;
  overflow-y: scroll;
}


// .modal_tabContainer:before { 
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     height: 50px;
//     background-image: -webkit-linear-gradient(rgba(255, 255,255,1), rgba(0, 255,255,0));
//     background-image: -moz-linear-gradient(rgba(255, 255,255,1), rgba(255, 255,255,0));
//     background-image: -o-linear-gradient(rgba(255, 255,255,1), rgba(255, 255,255,0));
//     background-image: linear-gradient(rgba(255, 255,255,1), rgba(255, 255,255,0));
// }

// .modal_tabContainer:after { 
//     content: "";
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     height: 50px;
//     background-image: -webkit-linear-gradient(rgba(255, 255,255,0), rgba(255, 255,255,1));
//     background-image: -moz-linear-gradient(rgba(255, 255,255,0), rgba(255, 255,255,1));
//     background-image: -o-linear-gradient(rgba(255, 255,255,0), rgba(255, 255,255,1));
//     background-image: linear-gradient(rgba(255, 255,255,0), rgba(255, 255,255,1));
// }

.close_modal, .create_modal {
	font-size: 1.15em;
	display: block;
	text-align: center;
	margin: 0.5em 0 0.65em;
	text-decoration: none;
	background: $beige;
	border-radius: 4px;
	color: black;
	letter-spacing: 1px;
}

.close_modal:active,
.close_modal:hover,
.create_modal:active,
.create_modal:hover {
	background: $orange;
	color: #fff;
}

.hide {
	display: none;
}


/*-----------------------------
Discussion Tab Content 
------------------------------*/

.tabContent_row, .tabContent_row_input {
	width: 100%;
	float: left;
	padding: 1em;
	overflow: hidden;
	p {
		margin-bottom: 0;
	}
}

.tabContent_row:nth-child(2n+2) {
	background: $lightBeige;
}

.tabContent_row:active,
.tabContent_row:hover {
	background: $beige;
}

.avatarCol {
	width: 25%;
}

.modal_tabContainer .userAvatar_medium {
	float: left;
	margin: 0 0.5em 0 0;
	display: inline-block;
	@media screen and (max-width: 32em) {
		display: none;
	}
}

.discussionInput {
	width: 84%;
	float: left;
	resize: none;
	padding: 0.25em;
	@media screen and (max-width: 32em) {
		width: 100%;
	}
}

.discussionItem_comment {
	float: left;
	width: 85%;
	margin-top: -0.35em;
	@media screen and (max-width: 32em) {
		width: 100%;
	}
}


/*-----------------------------
Agenda Items Tab Content 
------------------------------*/

.row_leftContent {
	float: left;
	margin-right: 1em;
		@media screen and (max-width: 30.6875em) {
		float: none;
		margin-bottom: 0.75em;
	}
}

.tabContent_button {
	margin-right: 0;
	float: right;
	@media screen and (max-width: 30.6875em) {
		float: left;
		width: 10em;
	}
}

/*-----------------------------
Action Items Tab Content 
------------------------------*/


/*-----------------------------
Meetings Tab Content 
------------------------------*/

/*-----------------------------
Agenda items and meetings modal  
------------------------------*/

.modal .facepile {
	max-width: 12em;
	height: 2em;
	margin: 0.6em 0 0 0;
	float: right;
	display: inline;
	white-space: nowrap;
	overflow-y: scroll;
	img {
		float: none;
	}
	@media screen and (max-width: 24em) {
		display: none;
	}
}

.modal .facepile::-webkit-scrollbar { 
    display: none; 
}

.modal .facepile img:last-child {
	margin-right: 0;
}

.modal_info {
	margin: 0 0 -1.35em 0;
}

.modal_description {
	padding: 1em;
}

.usersTab_username {
	font-size: 1.15em;
	margin: 0.45em;
	float: left;
}

.discussionTab_username {
	font-size: 1.15em;
	margin-bottom: 0.45em;
	color: $blue;
}

/*-----------------------------
Create new modal  
------------------------------*/

.createTabContent_row {
	width: 100%;
	float: left;
	padding: 1em;
	overflow: hidden;
	p {
		margin-bottom: 0;
	}
}

.agendaItemButton, .addFollowerButton {
	margin: 0.25em 0.10em;
}

.modal_createNew .close_modal, .create_modal {
	width: 49.5%;
	float: left;
}

.create_modal {
	float: right;
}

.createModalForm label {
	font-size: 1.2em;
}

.createModalForm input[type=text],
.createModalForm input[type=date],
.createModalForm input[type=datetime-local],
.createModalForm select,
.createModalForm textarea {
	padding: 0.15em;
	margin: 0.5em 1em 1em 0;
	padding: 0.5em;
	width: 100%;
	min-width: 15em;
	border: 2px solid $darkBeige;
}

.createModalForm textarea {
	height: 7em;
}

.createModalForm select {
	background: $beige;
	border: 1px solid $darkBeige;;
}

.createModalForm input[type=submit] {
	float: right;
}

