/*-----------------------------
General styles
------------------------------*/

@import "variables.scss";

html {
	background: $beige;
}

body {
	position: relative;
}

.button {
	position: relative;
	text-align: center;
	display: inline-block;
	padding: 0.5em 1.25em;
	border-radius: 0.4em;
	color: $black;
	// text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
	cursor: pointer;
	zoom: 1;
	*display: inline;
	border: 1px solid $darkOrange;
	@include orangeGradient;
	text-decoration: none;
}

.button:focus,
.button:hover {
	@include orangeGradient_hover;
	color: #fff;
}

.secondaryButton {
	position: relative;
	text-align: center;
	display: inline-block;
	padding: 0.5em 1.25em;
	border-radius: 0.4em;
	color: #fff;
	// text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
	cursor: pointer;
	zoom: 1;
	*display: inline;
	border: 1px solid $black;
	@include blueGradient;
	text-decoration: none;
}

.secondaryButton:focus,
.secondaryButton:hover {
	@include blueGradient_hover;
	color: #fff;
}

.buttonSignup {
	width: 70%;
	margin-bottom: 1.25em;
	@media screen and (min-width: 44em) {
		width: auto;
		margin-left: 2em;
		margin-bottom: 0;
	}
}

.uploadButton {
	margin: 0.5em 0;
}

.createAccount {
	float: left;
	clear: both;
}

input[type=submit] {
	display: inline-block;
	padding: 0.17em 1.25em;
	border-radius: 0.4em;
	color: $black;
	font-weight: 300;
	// text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
	cursor: pointer;
	border: 1px solid $darkOrange;
	@include orangeGradient;
	cursor: pointer;
}

input[type=submit]:focus,
input[type=submit]:hover {
	@include orangeGradient_hover;
	color: #fff;
}

input {
	margin: 0.5em 0;
}

input[type=submit]:focus,
input[type=submit]:hover {
	@include orangeGradient_hover;
	color: #fff;
}

.header {
	margin-bottom: 0.25em;
}

.heroBanner {
	clear: both;
	background: #3d6298;
}

.submitEmail {
	margin-left: 0.75em;
}

.logo {
	text-align: center;
	margin-bottom: 0.5em;
	@media screen and (min-width: 55em) {
		float: left;
	}
}

nav {
	@media screen and (min-width: 55em) {
		float: right;
	}
}

.navMenu {
	display: block;
	font-size: 1.25em;
	margin: 0 auto;
}

.navMenu_item {
	float: left;
	list-style-type: none;
	margin: 0.25em 0 0.25em 2em;
	padding: 0.25em 0;
	a {
		text-decoration: none;
	}
	@media screen and (min-width: 55em) {
		margin: 0.25em 0 0.25em 2em;
	}
}

.navMenu_item_button {
	text-align: center;
	list-style-type: none;
	@media screen and (min-width: 55em) {
		float: left;
	}
}

.laptopIllustration { 
	display: block;
	margin: 2.5em auto;
		@media screen and (min-width: 55em) {
		margin: 0.5em auto;
	}
}

img.laptopIllustration {
	max-width: 600px;
	width: 100%;
	height: auto;
}

.footer {
	clear: both;
}

.footer_content {
	text-align: center;
	margin-bottom: 2.75em;
}

.shareWidgets {
	display: block;
	text-align: center;
}

.socialMediaIcon_twitter {
	background-color: #00aced;
	background-image: image-url('twitter-64.png');
	background-repeat: no-repeat;
	display: inline-block;
	margin: 0.75em 1.25em;
	height: 64px;
	width: 64px;
	background-size: 64px 64px;
}

.socialMediaIcon_facebook {
	background-color: #3B5998;
	background-image: image-url('facebook-64.png');
	background-repeat: no-repeat;
	display: inline-block;
	margin: 0.75em 1.25em;
	height: 64px;
	width: 64px;
	background-size: 64px 64px;
}

.socialMediaIcon_googleplus {
	background-color: #D14836;
	background-image: image-url('googleplus-64.png');
	background-repeat: no-repeat;
	display: inline-block;
	margin: 0.75em 1.25em;
	height: 64px;
	width: 64px;
	background-size: 64px 64px;
}

.shortInput {
	padding: 0.15em;
	width: 70%;
	min-width: 15em;
	border: 1px solid $black;
}

.longInput {
	margin: 0.5em 0;
	padding: 0.15em;
	width: 100%;
	min-height: 7em;
	min-width: 17em;
	border: 1px solid $black;
}

.signupForm {
	.shortInput {
	width: 90%;
	}
}

.contactForm {
	margin-top: 2em;
}

.centeredDescription {
	text-align: center;
}

.placeholderPic {
	width: 120px;
	height: 120px;
	margin: 1em 1em 1em 0;
	background: $light_gray;
}


